/* desk top format */
@media only screen and (min-width:790px) {
  body {
    background-color: orange;
  }
}


/* tab format */
@media only screen and (max-width:800px) {
  body {
    background-color: yellow;
  }
}


/* mobile format */
@media only screen and (max-width:610px) {
  body {
    background-color: rgb(248, 142, 142);
  }

  .div {
    display: flex;
    position: fixed;
    background-color: rgb(206, 255, 47);
    width: 100%;
    height: 100px;
    margin-top: -16px;
    
  }

  h1 {
    margin-left: 15%;
    padding: 14px;
    color: rgb(100, 111, 237);
  }

  .hr {
    border-radius: 900px;
    width: 90px;
    margin-left: 9px;
  }

  .su {
    margin-left: 27%;
    color: black;
  }

  .para {
    color: beige;
    text-align: center;
  }

  .fr {
    width: 250px;
    height: 410px;
    margin-left: 14%;
  }

  h2 {
    margin-left: 50px;
    color: grey;
  }

  .para1 {
    color: azure;
    text-align: center;
  }

  .sj {
    margin-left: 30px;
    color: rgb(242, 243, 242);
  }

  .df {
    color: black;
    margin-right: 8px;
  }

  .vg {
    color: black;
    font-size: 18px;
  }

  .xc {
    margin-left: 9px;
    color: greenyellow;
  }

  .con {
    color: blueviolet;
    margin-left: 23%;
  }

  input {
    width: 95%;
    margin-left: 10px;
    height: 40px;
    border: 2px solid rgb(177, 169, 169);
    border-radius: 10px;
  }

  .form {
    padding: 10px;
  }

  .messege {
    height: 100px;
  }

  .messege::placeholder {
    text-align: center;
  }

  button {
    margin-left: 30%;
    background-color: rgb(66, 66, 199);
    color: aliceblue;
    font-size: 20px;
    height: 47px;
    border-radius: 30px;
    width: 150px;
    border: rgb(102, 102, 231);
  }
  button:hover{
    background-color: yellow;
  }
  .dd{
    color: gold;
    margin-left: 23%;
  }
}